<h2>DASHBOARD CENTER</h2>

<ul>
    <li *ngFor="let event of events">
        {{event.id}} - {{event.title}} - {{ event.start.toDate() | date:"MM/dd/yy hh:mm" }} | {{ event.end.toDate() | date:"MM/dd/yy hh:mm" }}
    </li>
</ul>

<app-calendar 
    [events]="events" 
    (onEventClicked)="onEventClicked($event)"
    (onEventDropped)="onEventDropped($event)">
</app-calendar>

<app-modal #modal>
    <div class="modal-title" *ngIf="selectedEvent">
        {{selectedEvent.title}}
    </div>
     <div class="modal-body" *ngIf="selectedEvent">
        <p class="bg-info">{{selectedEvent.content}}</p>
    </div>
</app-modal>