<h2>DASHBOARD CENTER</h2>

<ul>
    <li *ngFor="let event of events">
        {{event.title}} - {{event.start.format('LLL')}}
    </li>
</ul>

<app-calendar 
    #calendar
    (onEventClicked)="onEventClicked($event)"
    (onEventDropped)="onEventDropped($event)"
    (onCalendarClicked)="onCalendarClicked($event)">
</app-calendar>

<app-modal #modal>
    <div class="modal-title" *ngIf="selectedEvent">
        {{selectedEvent.title}}
    </div>
     <div class="modal-body" *ngIf="selectedEvent">
        <app-event-form 
            [event]="selectedEvent"
            (onFormSubmit)="onFormSubmited($event)"
        >
        </app-event-form>
    </div>
</app-modal>